---
title: Welcome to Middleman
---

.welcome
  %h1 Armstrong & Gunnarsson
  %p
    Please bear with us while our website is being built.
  %p
    = link_to "Contact us via Mail", "mailto:info@armstrongandgunnarsson.com", target: "_blank", class: "icon mail"
    = link_to "Visit us on Instagram", "https://instagram.com/armstrong_gunnarsson", target: "_blank", class: "icon instagram"
